<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
  </head>
  <body>
    
  <header>
          <a href="/"><img src="images/logo.gif" height="200px"></a>
          
          <nav>
            
             <a href="/about">About Us</a>
             <a href="/">Pack Now!</a>
             <a href="/help">Help</a>
            
              
          </nav>
          
          
      </header>
<div>
<h1>About Us</h1>
<h2>SnapPack was created by three diligent Kode with Klossy scholars. They built this webapp in less than 3 days from scratch using Ruby, HTML/CSS, and Sinatra. (That's pretty cool!)</h3>

</div>


  </body>
</html>