<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Help</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand+SC" rel="stylesheet">
  </head>
  <body>
    
  <header>
          <a href="/"><img src="images/logo.gif" height="200px"></a>
          
          <nav>
            
             <a href="/about">About Us</a>
             <a href="/">Pack Now!</a>
             <a href="/help">Help</a>
            
              
          </nav>
          
          
      </header>
<div>
<h1>Help</h1>
<h2>SnapPack is an easy way to help you pack smart! This questionaire will help you decide the number of items to bring on your next trip!</h2>

</div>


  </body>
</html>